:root {
  --clr-white: #fff;
  --clr-primary: #f55a5a;
  --clr-txt-dark: #2b283a;
  --clr-txt-low-significance: #918e9b;
  --font: "Inter", sans-serif;
  --side-padding: 0.25em;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body,
a,
button,
input,
textarea {
  font-family: var(--font);
  color: var(--clr-txt-dark);
}

a {
  transition: all 0.3s;
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}
